.App {
  text-align: center;
}

.fit {
  max-width: 40%;
  max-height: 10%;
}

.Cards {
  display: flex;
  justify-content: space-between
}

.Selected {
  display: flex;
  max-width: 20%;
  max-height: 10%;  
  justify-content: center
}